.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & textarea {
        resize: none;
    }

    & input,
    & textarea {
        border: none;
        font-size: 1.6rem;
        padding: 1em 0.5em;
        color: var(--black);
        background-color: var(--white);
        font-family: 'Montserrat', sans-serif;

        &:focus-visible {
            outline-offset: 4px;
            outline: 3px solid var(--white);
        }

        &:disabled {
           filter: brightness(0.75);
        }
    }
}
