.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & textarea {
        resize: none;
    }

    & input,
    & textarea {
        border: none;
        font-size: 1.6rem;
        padding: 1.4rem 1rem;
        color: var(--black);
        background-color: var(--white);
        font-family: 'Montserrat', sans-serif;

        &:focus-visible {
            outline-offset: 0.4rem;
            outline: 3px solid var(--white);
        }

        &:disabled {
            background-color: #808080;
        }
    }
}
