.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    &,
    & input,
    & textarea {
        font-family: 'Iter', sans-serif;
    }

    & textarea {
        resize: none;
    }

    & input,
    & textarea {
        font-size: 1.6rem;
        padding: 1em 0.5em;
        color: var(--black);
        border: 1px solid oklch(from var(--black) calc(l + 0.8) c h);

        &:focus-visible {
            outline-offset: 3px;
            outline: 0.2rem solid var(--black);
        }

        &:disabled {
            filter: brightness(0.75);
        }
    }
}
