.cardsContainer {
    padding: 0 1.6rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2.5rem;

    @media (width >= 37.5rem) {
        grid-column-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width >= 61.25rem) {
        grid-template-columns: repeat(3, 1fr);
    }
}
