.cardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2.5rem;

    @media (min-width: 600px) {
        grid-column-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 980px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
