.bio {
    height: 100%;
    margin: 0 auto;
    font-size: 2rem;
    max-width: 78rem;
    line-height: 1.5;
    text-wrap: balance;
    color: var(--secondary);

    & b {
        color: var(--main);
    }

    display: flex;
    flex-direction: column;
    gap: 3rem;
}
