.bio {
    height: 100%;
    margin: 0 auto;
    max-width: 78rem;
    font-size: 3.2rem;
    padding: 0 1.6rem;
    text-wrap: balance;
    color: var(--black);
    letter-spacing: -0.03em;

    & b {
        color: var(--main);
    }

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
