.button {
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 1.8rem 3.6rem;
    letter-spacing: .1rem;
    color: var(--background);
    text-transform: uppercase;
    background-color: var(--title);
    font-family: 'Montserrat', sans-serif;
}