.button {
    border: none;
    cursor: pointer;
    font-weight: 800;
    padding: 1em 2em;
    font-size: 1.5rem;
    min-width: 12.1rem;
    min-height: 5.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
        filter: brightness(0.75);
    }

    &:focus-visible {
        outline-offset: 4px;
        outline: 3px solid var(--white);
    }
}

.primary {
    color: var(--black);
    background-color: var(--white);
}

.outlinePrimary {
    color: var(--white);
    background-color: transparent;
    border: 0.1rem solid var(--secondary);
}
