.button {
    border: none;
    padding: 1em 2em;
    font-size: 1.5rem;
    min-width: 12.1rem;
    min-height: 5.5rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: background-color 0.2s linear;

    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
        filter: brightness(0.75);
    }

    &:focus-visible {
        outline-offset: 3px;
        outline: 0.3rem solid var(--black);
    }
}

.primary {
    font-weight: 800;
    color: var(--white);
    background-color: var(--main);

    &:hover {
        background-color: oklch(from var(--main) calc(l + 0.1) c h);
    }

    &:active {
        background-color: oklch(from var(--main) calc(l - 0.1) c h);
    }
}

.outlinePrimary {
    font-weight: 600;
    color: var(--black);
    background-color: transparent;
    border: 0.1rem solid var(--black);
    font-family: 'Bodoni Moda', serif;
}
