.button {
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.5rem;
    min-height: 5.5rem;
    min-width: 12.1rem;
    padding: 1.2rem 3.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
        background-color: #808080;
    }

    &:focus-visible {
        outline-offset: 0.4rem;
        outline: 3px solid var(--white);
    }
}

.primary {
    color: var(--black);
    background-color: var(--white);
}

.outlinePrimary {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--secondary);
}
