.miniSpinner {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 4px solid var(--black);
    border-bottom-color: transparent;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
