.galleryCard {
    padding: 3rem 0;
    position: relative;
    text-decoration: none;
    transition: all 0.2s linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;

    & span:first-child {
        font-size: 4rem;
        font-weight: 500;
        color: var(--main);
        letter-spacing: -0.03em;
        font-family: 'Bodoni Moda', serif;
    }

    & span:last-child {
        opacity: 0;
        transition: opacity 0.2s linear;

        position: absolute;
        inset: 0;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);

        span:last-child {
            opacity: 1;
        }
    }
}
