.galleryCard {
    width: 100%;
    position: relative;
    text-decoration: none;
    border: 1px solid var(--main);

    display: flex;
    flex-direction: column;
    align-items: center;

    & span:first-child {
        width: 100%;
        height: 45rem;
        overflow: hidden;
        background-color: var(--secondary);

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(0.5);
            object-position: center;
            transition: all 0.3s linear;
        }
    }

    & span:last-child {
        position: absolute;
        right: 10%;
        left: -1px;
        bottom: 0;

        padding: 1rem;
        font-size: 2rem;
        margin: 0.5rem 0;
        font-weight: 700;
        text-align: right;
        color: var(--white);
        border: 1px solid var(--main);
        border-left: none;
        text-transform: uppercase;
        transition: all 0.3s linear;
        background-color: var(--black);
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.15);
    }

    @media (width >= 64.875rem) {
        &:hover img {
            transform: scale(1.1);
            filter: grayscale(0) !important;
        }

        &:hover span:last-child {
            background-color: var(--main);
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        }
    }
}
