.errorMessageContainer {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    & div {
        padding: 1rem 4rem;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;

        & p {
            letter-spacing: -0.02em;
            font-family: 'Inter', sans-serif;

            display: flex;
            align-items: center;
            gap: 1rem;

            & svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
