.hero {
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5rem;

    & h1 {
        line-height: 1;
        font-size: 5rem;
        max-width: 568px;
        font-weight: 800;
        text-align: right;
        text-wrap: balance;
        letter-spacing: -3.5px;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (min-width: 375px) {
            font-size: 6rem;
        }

        @media (min-width: 900px) {
            font-size: 8rem;
        }

        @media (min-width: 1000px) {
            font-size: 9rem;
        }

        & span {
            opacity: 0;
            animation: fade-in 0.5s linear forwards;

            &:last-child {
                animation-delay: 0.25s;
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
