.hero {
    height: 100%;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero h1 {
    font-size: 5.5rem;
    line-height: 1.1;
    max-width: 568px;
    text-align: right;
    letter-spacing: -3.5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    & span {
        font-weight: 300;
    }
}

@media (min-width: 375px) {
    .hero h1 {
        font-size: 7rem;
    }
}

@media (min-width: 420px) {
    .hero h1 {
        font-size: 7.5rem;
    }
}

@media (min-width: 900px) {
    .hero h1 {
        font-size: 8.5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 1000px) {
    .hero h1 {
        font-size: 9rem;
        padding-right: 10rem;
    }
}