.logo {
    text-decoration: none;
}

.logo h2 {
    line-height: 1;
    font-size: 1.6rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
}