.logo {
    line-height: 1;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--white);
    text-decoration: none;
    letter-spacing: -0.5px;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;

    &:focus-visible {
        outline-offset: 0.4rem;
    }
}
