.logo {
    line-height: 1;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--white);
    text-decoration: none;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:focus-visible {
        outline-offset: 4px !important;
    }
}
