.nav {
    height: 6.2rem;
    padding: 1.6rem;

    display: flex;

    @media (width >= 60.625rem) {
        padding: 1.6rem 3.2rem;
    }

    & button:focus-visible,
    & a:focus-visible {
        outline-offset: 0.4rem;
        outline: 3px solid var(--black);
    }

    & button {
        height: 3rem;
        border: none;
        width: 3.5rem;
        margin-left: auto;
        background-color: transparent;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @media (width >= 60.625rem) {
            display: none;
        }
    }
}

.navList {
    width: 100%;
    z-index: 999;
    position: fixed;
    visibility: hidden;
    backdrop-filter: blur(12px);
    background-color: oklch(from var(--white) l c h / 0.75);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    @media (width >= 60.625rem) {
        z-index: auto;
        opacity: 100%;
        position: static;
        visibility: visible;
        backdrop-filter: none;
        background-color: transparent;

        flex-direction: row;
        justify-content: space-between;
    }

    & li {
        opacity: 0;
        transform: translateY(200rem);

        @media (width >= 60.625rem) {
            opacity: 100%;
            transform: translateY(0);
        }
    }

    & a {
        font-size: 3rem;
        color: var(--black);
        text-decoration: none;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        &:global(.active) {
            color: var(--main);
            margin-bottom: -0.1rem;
            border-bottom: 0.1rem solid var(--main);
        }

        @media (width >= 60.625rem) {
            font-size: 1.4rem;
            position: relative;
            transition: color 0.2s linear;

            &:hover {
                color: var(--main);

                &::after {
                    content: '';
                    z-index: -999;
                    height: 0.1rem;
                    background-color: var(--main);
                    animation: show-underline 0.25s linear forwards;

                    position: absolute;
                    bottom: -0.1rem;
                    left: 0;
                }
            }

            &:not(:hover) {
                &::after {
                    content: '';
                    height: 0.1rem;
                    background-color: var(--main);
                    animation: hide-underline 0.25s linear forwards;

                    position: absolute;
                    bottom: -0.1rem;
                    right: 0;
                }
            }
        }
    }
}

.openBtn {
    & div {
        width: 100%;
        transition: all 0.2s linear;
        border-bottom: 0.1rem solid var(--black);
    }

    & div:last-child {
        margin-top: 1rem;
    }
}

.closeBtn {
    z-index: 99999;

    & div {
        width: 100%;
        margin-bottom: -0.2rem;
        transition: all 0.2s linear;
        border-bottom: 0.1rem solid var(--black);
    }

    & div:first-child {
        transform: rotate(45deg);
    }

    & div:last-child {
        transform: rotate(-45deg);
    }
}

.showNav {
    inset: 0;
    visibility: visible !important;

    & li {
        animation: slide-up 0.3s linear forwards;
        animation-delay: calc(var(--i) * 0.05s);

        &:first-child {
            --i: 0;
        }

        &:nth-child(2) {
            --i: 1;
        }

        &:nth-child(3) {
            --i: 2;
        }

        &:nth-child(4) {
            --i: 3;
        }

        &:nth-child(5) {
            --i: 4;
        }

        &:last-child {
            --i: 5;
        }
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(200rem);
    }
    25% {
        opacity: 25%;
        transform: translateY(30rem);
    }
    50% {
        opacity: 25%;
        transform: translateY(15rem);
    }
    75% {
        opacity: 25%;
        transform: translateY(1.5rem);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes show-underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes hide-underline {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
