.nav {
    padding: 2rem 3rem;

    display: flex;
    justify-content: space-between;

    & button:focus-visible,
    & a:focus-visible {
        outline-offset: 0.4rem;
        outline: 3px solid var(--white);
    }

    & button {
        border: none;
        cursor: pointer;
        min-width: 5rem;
        min-height: 5rem;
        background-color: transparent;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 1038px) {
            display: none;
        }
    }
}

.navList {
    z-index: 999;
    position: fixed;
    visibility: hidden;
    backdrop-filter: blur(20px);
    background-color: rgba(7, 6, 5, 0.8);

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    @media (min-width: 1038px) {
        z-index: auto;
        opacity: 100%;
        position: static;
        visibility: visible;
        backdrop-filter: none;
        background-color: transparent;

        flex-direction: row;
    }

    & li {
        opacity: 0;
        transform: translateY(200rem);

        @media (min-width: 1038px) {
            opacity: 100%;
            transform: translateY(0);
        }
    }

    & a {
        font-weight: 600;
        font-size: 2.5rem;
        text-decoration: none;
        color: var(--secondary);
        text-transform: uppercase;

        &:global(.active) {
            color: var(--main);
            margin-bottom: -1px;
            border-bottom: 1px solid var(--main);
        }

        @media (min-width: 1038px) {
            font-size: 1.4rem;
            position: relative;
            transition: color 0.2s linear;

            &:hover {
                color: var(--main);

                &::after {
                    content: '';
                    height: 1px;
                    z-index: -999;
                    background-color: var(--main);
                    animation: show-underline 0.25s linear forwards;

                    position: absolute;
                    bottom: -0.1rem;
                    left: 0;
                }
            }

            &:not(:hover) {
                &::after {
                    content: '';
                    height: 1px;
                    background-color: var(--main);
                    animation: hide-underline 0.25s linear forwards;

                    position: absolute;
                    bottom: -0.1rem;
                    right: 0;
                }
            }
        }
    }
}

.openBtn {
    & div {
        width: 100%;
        transition: all 0.2s linear;
        border-bottom: 1px solid var(--white);
    }

    & div:last-child {
        margin-top: 1rem;
    }
}

.closeBtn {
    z-index: 999;

    & div {
        width: 100%;
        margin-bottom: -2px;
        transition: all 0.2s linear;
        border-bottom: 1px solid var(--white);
    }

    & div:first-child {
        transform: rotate(45deg);
    }

    & div:last-child {
        transform: rotate(-45deg);
    }
}

.showNav {
    inset: 0;
    visibility: visible !important;

    & li {
        animation: slide-up 0.3s linear forwards;
        animation-delay: calc(var(--i) * 0.05s);

        &:first-child {
            --i: 0;
        }

        &:nth-child(2) {
            --i: 1;
        }

        &:nth-child(3) {
            --i: 2;
        }

        &:nth-child(4) {
            --i: 3;
        }

        &:nth-child(5) {
            --i: 4;
        }

        &:last-child {
            --i: 5;
        }
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(200rem);
    }
    25% {
        opacity: 25%;
        transform: translateY(30rem);
    }
    50% {
        opacity: 25%;
        transform: translateY(15rem);
    }
    75% {
        opacity: 25%;
        transform: translateY(1.5rem);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes show-underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes hide-underline {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
