.modal {
    & button {
        position: absolute;
        right: 5px;
        top: 5px;

        border: none;
        padding: 1rem;
        z-index: 99999;
        cursor: pointer;
        font-size: 2.5rem;
        color: var(--white);
        background-color: transparent;
        transition: color 0.2s linear;

        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            transform: rotate(45deg);
        }

        &:hover {
            color: var(--main);
        }

        &:focus-visible {
            outline: 3px solid var(--white);
        }
    }
}
