.formContainer {
    height: 100%;
    padding: 2rem;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.formContainer h2 {
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: -3.5px;
}

.formContainer form {
    width: 100%;
    max-width: 580px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formContainer button {
    align-self: flex-end;
}