.formContainer {
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    & h2 {
        font-size: 5rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 3rem;
        letter-spacing: -3.5px;
    }

    & form {
        width: 100%;
        max-width: 580px;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        & footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;

            @media (min-width: 525px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
