.formContainer {
    height: 100%;
    margin: 0 auto;
    max-width: 58rem;
    padding: 0 1.6rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    & h2 {
        line-height: 1.1;
        font-weight: 800;
        font-size: 3.2rem;
        margin-bottom: 3rem;
        align-self: flex-start;
        letter-spacing: -0.04em;
        text-transform: uppercase;

        @media (width >= 31.25rem) {
            font-size: 4.2rem;
        }
    }

    & form {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        & footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;

            @media (width >= 29.375rem) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
