.formContainer {
    height: 100%;
    margin: 0 auto;
    max-width: 580px;

    display: flex;
    align-items: center;
    flex-direction: column;

    & h2 {
        font-size: 5rem;
        line-height: 1.1;
        font-weight: 800;
        margin-bottom: 3rem;
        letter-spacing: -2px;
        align-self: flex-start;
        text-transform: uppercase;
    }

    & form {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        & footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;

            @media (min-width: 525px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
