.conbipelGalleryContainer {
    @media (width > 48rem) {
        padding: 0 1.6rem;
    }
}

.carousel {
    display: flex;
    overflow: hidden;

    & img {
        width: 100%;

        animation: slide 9s linear infinite;
    }
}

.oneColumnImages {
    padding-top: 3rem;

    display: grid;
    grid-template-columns: 1fr;

    & img {
        width: 100%;
    }
}

.oneRowImages {
    display: flex;
    flex-wrap: wrap;

    & div {
        width: 100%;

        @media (width > 73rem) {
            width: fit-content;
            height: 30.75rem;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.gridLayout {
    padding-top: 3rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;

    & img {
        width: 100%;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    28% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100%);
    }
    61% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-200%);
    }
}
