.conbipelGalleryContainer {
    @media (width > 48rem) {
        padding: 0 1.6rem;
    }
}

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: slide 9s linear infinite;
    }
}

.loader {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 6rem;
    height: 0.5rem;
    border-radius: 100px;
    outline: 1px solid #fff;

    display: flex;

    @media (width > 60.625rem) {
        height: 1rem;
        bottom: 20px;
    }

    &:after {
        content: '';
        height: 0.5rem;
        position: absolute;
        border-radius: 100px;
        background-color: #fff;
        animation: load 9s linear infinite;

        @media (width > 60.625rem) {
            height: 1rem;
        }
    }
}

.oneColumnImages {
    padding-top: 0.7rem;

    display: grid;
    grid-template-columns: 1fr;
}

.oneRowImages {
    display: grid;
    grid-template-columns: 1fr;

    @media (width > 73rem) {
        grid-template-columns: repeat(3, auto);
    }

    & div {
        @media (width > 73rem) {
            height: 30.75rem;
            width: fit-content;
        }
    }
}

.gridLayout {
    padding-top: 0.7rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    28% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-100%);
    }
    61% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes load {
    0% {
        width: 0;
    }
    95% {
        width: 6rem;
    }
    100% {
        width: 0;
    }
}
