.gallery {
    height: 100%;
    scroll-margin-top: 3rem;

    display: grid;
    grid-template-rows: auto 1fr auto;

    & header {
        padding: 0 1.6rem 3rem 1.6rem;

        & a {
            line-height: 1.1;
            font-weight: 600;
            font-size: 1.4rem;
            margin-left: auto;
            color: var(--main);
            width: fit-content;
            padding-bottom: 3rem;
            text-decoration: none;
            letter-spacing: 0.03em;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            gap: 1rem;

            @media (width >= 64.875rem) {
                display: none;
            }
        }

        & h3,
        & h2 {
            font-weight: 800;
            line-height: 1.1;
            text-transform: uppercase;
        }

        & h3 {
            font-size: 2rem;
            color: var(--main);
            letter-spacing: -0.02em;
        }

        & h2 {
            font-size: 3.2rem;
            padding-bottom: 1rem;
            letter-spacing: -0.03em;

            @media (width >= 31.25rem) {
                font-size: 4.2rem;
            }
        }

        & p {
            line-height: 1.5;

            & span {
                color: var(--secondary);
            }
        }
    }

    & footer {
        padding: 4rem 1.6rem 0 1.6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        @media (width >= 43.75rem) {
            gap: 1.5rem;
            flex-direction: row;
            justify-content: space-between;
        }

        & button {
            gap: 1.5rem;
            width: 100%;

            @media (width >= 64rem) {
                padding: 0;
                border: none;
                font-size: 1.8rem;
                width: fit-content;
            }

            & svg {
                transition: transform 0.2s linear;
            }

            &:first-child:hover svg {
                transform: translateX(-0.5rem);
            }

            &:last-child:hover svg {
                transform: translateX(0.5rem);
            }
        }

        /* empty space */
        & div {
            width: 100%;
            padding: 0 3rem;

            @media (width >= 64rem) {
                padding: 0;
                width: fit-content;
            }
        }
    }

    & dialog {
        z-index: 9999;

        &,
        & div:global(.swiper),
        & img {
            width: 100%;
            height: 100%;
        }

        border: none;
        outline: none;
        align-self: center;
        justify-self: center;
        background-color: var(--black);

        &::backdrop {
            backdrop-filter: blur(10px);
        }

        & img {
            object-fit: contain;
        }
    }
}

.imageContainer {
    width: 100%;
    height: 100%;
}

.imageHover {
    position: relative;

    & span {
        position: absolute;
        inset: 0;

        cursor: pointer;
        font-size: 2rem;
        visibility: hidden;
        color: var(--white);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (width >= 64.875rem) {
        &:hover span {
            cursor: pointer;
            visibility: visible;
            transition: all 0.2s linear;
            backdrop-filter: brightness(0.5);
        }
    }
}

.allImagesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: start;
    gap: 0.1rem;

    @media (width >= 64rem) {
        padding: 0 1.6rem;
        grid-template-columns: repeat(4, 1fr);
    }

    @media (width > 75rem) {
        grid-template-columns: repeat(5, 1fr);
    }

    /* single image container */
    & div {
        aspect-ratio: 3 / 4;
    }

    & div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s linear;
    }
}
