.gallery {
    height: 100%;
    scroll-margin-top: 3rem;

    display: grid;
    grid-template-rows: auto 1fr auto;

    & header {
        padding-bottom: 3rem;

        & a {
            line-height: 1.1;
            font-weight: 600;
            font-size: 1.4rem;
            margin-left: auto;
            color: var(--main);
            width: fit-content;
            padding-bottom: 5rem;
            text-decoration: none;
            letter-spacing: 0.05rem;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            gap: 1.5rem;

            @media (min-width: 1038px) {
                display: none;
            }
        }

        & h3,
        & h2 {
            font-weight: 800;
            line-height: 1.1;
            text-transform: uppercase;
        }

        & h3 {
            font-size: 2.5rem;
            color: var(--main);
            letter-spacing: -0.5px;
        }

        & h2 {
            font-size: 4rem;
            padding-bottom: 2rem;
            letter-spacing: -1.5px;

            @media (min-width: 375px) {
                font-size: 4.5rem;
            }

            @media (min-width: 500px) {
                font-size: 5.5rem;
            }
        }

        & p {
            line-height: 1.5;
            padding-top: 0.5rem;
            text-transform: lowercase;

            & span {
                color: var(--secondary);
            }
        }
    }

    & footer {
        padding-top: 4rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        @media (min-width: 700px) {
            gap: 1.5rem;
            flex-direction: row;
            justify-content: space-between;
        }

        & button {
            gap: 1.5rem;
            width: 100%;

            @media (min-width: 1024px) {
                border: none;
                font-size: 1.8rem;
                width: fit-content;
            }

            & svg {
                transition: transform 0.2s linear;
            }

            &:first-child:hover svg {
                transform: translateX(-5px);
            }

            &:last-child:hover svg {
                transform: translateX(5px);
            }
        }

        /* empty space */
        & div {
            width: 100%;
            padding: 0 3.6rem;

            @media (min-width: 1024px) {
                padding: 0;
                width: fit-content;
            }
        }
    }
}

.imagesContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @media (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    & div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
