.gallery {
    & header {
        padding-bottom: 3rem;

        & h2 {
            font-weight: 800;
            line-height: 1.1;
            font-size: 4rem;
            padding-bottom: 1rem;
            letter-spacing: -1.5px;
        }

        & p {
            line-height: 1.5;
            font-size: 1.8rem;
            padding-top: 1rem;

            & span {
                color: var(--secondary);
            }
        }
    }
}

.imagesContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @media (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    & div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
