.gallery {
    height: 100%;
    scroll-margin-top: 3rem;

    display: grid;
    grid-template-rows: auto 1fr auto;

    & header {
        padding: 0 1.6rem 3rem 1.6rem;

        & a {
            line-height: 1.1;
            font-weight: 600;
            font-size: 1.3rem;
            margin-left: auto;
            color: var(--main);
            width: fit-content;
            padding-bottom: 4rem;
            text-decoration: none;
            letter-spacing: 0.01em;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            gap: 1rem;

            @media (width >= 60.625rem) {
                display: none;
            }
        }

        & h3,
        & h2 {
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
        }

        & h3 {
            font-size: 2rem;
            color: var(--main);
            letter-spacing: -0.02em;
        }

        & h2 {
            font-size: 3.2rem;
            padding-bottom: 1rem;
            letter-spacing: -0.02em;

            @media (width >= 31.25rem) {
                font-size: 4.2rem;
            }
        }

        & p {
            font-weight: 600;
            line-height: 1.5;
            font-size: 1.4rem;
            font-family: 'Iter', sans-serif;

            & span {
                font-weight: 400;
                color: oklch(from var(--black) calc(l + 0.35) c h);
            }
        }
    }

    & footer {
        padding: 4rem 1.6rem 0 1.6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        @media (width >= 43.75rem) {
            gap: 1.5rem;
            flex-direction: row;
            justify-content: space-between;
        }

        & button {
            gap: 1.5rem;
            width: 100%;

            @media (width >= 64rem) {
                padding: 0;
                border: none;
                font-size: 1.8rem;
                width: fit-content;
            }

            & svg {
                transition: transform 0.2s linear;
            }

            &:first-child:hover svg {
                transform: translateX(-0.5rem);
            }

            &:last-child:hover svg {
                transform: translateX(0.5rem);
            }
        }

        /* empty space for replacing button when it's missing - first page and last page */
        & div {
            width: 100%;
            padding: 0 3rem;

            @media (width >= 64rem) {
                padding: 0;
                width: fit-content;
            }
        }
    }
}

.imageContainer {
    width: 100%;
    height: 100%;
}

.allImagesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    gap: 0.4rem;

    @media (width > 48rem) {
        padding: 0 1.6rem;
        grid-template-columns: repeat(3, 1fr);
    }

    & div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s linear;
    }
}
