.gallery {
    height: 100%;
    scroll-margin-top: 3rem;

    display: grid;
    grid-template-rows: auto 1fr auto;

    & header {
        padding: 0 1.6rem 3rem 1.6rem;

        & a {
            line-height: 1.1;
            font-weight: 600;
            font-size: 1.3rem;
            margin-left: auto;
            color: var(--main);
            width: fit-content;
            margin-bottom: 4rem;
            text-decoration: none;
            letter-spacing: 0.01em;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            gap: 1rem;

            @media (width >= 60.625rem) {
                display: none;
            }

            &:focus-visible {
                outline-offset: 0.4rem;
                outline: 0.3rem solid var(--black);
            }
        }

        & h3,
        & h2 {
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
        }

        & h3 {
            font-size: 2rem;
            color: var(--main);
            letter-spacing: -0.02em;
        }

        & h2 {
            font-size: 3.2rem;
            padding-bottom: 1rem;
            letter-spacing: -0.02em;

            @media (width >= 31.25rem) {
                font-size: 4.2rem;
            }
        }

        & p {
            font-weight: 600;
            line-height: 1.5;
            font-size: 1.4rem;
            font-family: 'Iter', sans-serif;

            & span {
                font-weight: 400;
                color: oklch(from var(--black) calc(l + 0.35) c h);
            }
        }
    }

    & footer {
        padding: 4rem 1.6rem 0 1.6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        @media (width >= 43.75rem) {
            gap: 1.5rem;
            flex-direction: row;
            justify-content: space-between;
        }

        & button {
            gap: 1.5rem;
            width: 100%;

            @media (width >= 64rem) {
                padding: 0;
                border: none;
                font-size: 1.8rem;
                width: fit-content;
            }

            & svg {
                transition: transform 0.2s linear;
            }

            &:first-child:hover svg {
                transform: translateX(-0.5rem);
            }

            &:last-child:hover svg {
                transform: translateX(0.5rem);
            }
        }

        /* empty space for replacing button when it's missing - first page and last page */
        & div {
            width: 100%;
            padding: 0 3rem;

            @media (width >= 64rem) {
                padding: 0;
                width: fit-content;
            }
        }
    }
}

.imageContainer {
    width: 100%;
    height: 100%;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.allImagesContainer {
    display: grid;
    align-content: start;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;

    @media (width > 48rem) {
        padding: 0 1.6rem;
        grid-template-columns: repeat(3, 1fr);
    }

    & div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.oneColumnImagesContainer {
    display: grid;
    align-content: start;
    grid-template-columns: 1fr;

    @media (width > 48rem) {
        padding: 0 1.6rem;
    }

    & div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.allVideosContainer {
    padding: 0 1.6rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
}

.iframeContainer {
    width: 100%;
    aspect-ratio: 2;
    position: relative;

    & > div {
        position: absolute;
        inset: 0;

        background-color: black;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        & button {
            position: absolute;
            inset: 0;

            border: none;
            font-size: 6rem;
            background-color: rgba(0, 0, 0, 0.2);

            @media (width >= 48rem) {
                font-size: 7rem;
            }

            & svg {
                color: #fff;
                border-radius: 50%;
                border: 0.2rem solid #fff;
                transition: all 0.2s linear;
                background-color: var(--main);

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    & iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: none;
        aspect-ratio: 2;
    }
}

.animateVideoButton {
    & svg {
        animation: animate-video-button 0.5s linear forwards;
    }
}

.hideVideoThumbnail {
    animation: fade-out-thumbnail 0.5s linear forwards 0.5s;
}

.showVideo {
    display: block !important;
}

@keyframes fade-out-thumbnail {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        display: none;
        transform: scale(1.2);
    }
}

@keyframes animate-video-button {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}
