.footer {
    padding: 2rem 2rem 1rem;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.footer, a {
    color: var(--tertiary);
}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
        padding: 1rem;
        transition: color .2s linear;
    }

    & a:hover {
        color: var(--paragraph);
    }

    & a:focus-visible {
        outline: 3px solid var(--title);
    }

    & svg {
        width: 2.5rem;
        height: 2.5rem;
        vertical-align: middle;
    }
}

@media (min-width: 425px) {
    .iconsContainer {
        padding: 0 2rem;
    }
}

@media (min-width: 580px) {
    .footer {
        flex-direction: row;
        align-items: center;
    }

    .iconsContainer {
        order: 2;
        gap: 1rem;
        justify-content: flex-end;
    }
}

