.footer {
    font-size: 1.4rem;
    padding: 2rem 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    &,
    & a {
        color: var(--tertiary);
    }

    @media (min-width: 580px) {
        flex-direction: row;
        align-items: center;
    }

    & ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 425px) {
            padding: 0 2rem;
        }

        @media (min-width: 580px) {
            order: 2;
            gap: 1rem;
            justify-content: flex-end;
        }
    }

    & a {
        padding: 1rem;
        transition: color 0.2s linear;

        &:hover {
            color: var(--paragraph);
        }

        &:focus-visible {
            outline: 3px solid var(--title);
        }
    }

    & svg {
        width: 2.5rem;
        height: 2.5rem;
        vertical-align: middle;
    }
}
