.footer {
    font-size: 1.4rem;
    padding: 2rem 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.footer,
a {
    color: var(--tertiary);
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.footer a {
    padding: 1rem;
    transition: color 0.2s linear;

    &:hover {
        color: var(--paragraph);
    }

    &:focus-visible {
        outline: 3px solid var(--title);
    }
}

.footer svg {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
}

@media (min-width: 425px) {
    .footer ul {
        padding: 0 2rem;
    }
}

@media (min-width: 580px) {
    .footer {
        flex-direction: row;
        align-items: center;
    }

    .footer ul {
        order: 2;
        gap: 1rem;
        justify-content: flex-end;
    }
}
