.footer {
    font-size: 1.4rem;
    padding: 1rem 1.6rem 0;
    letter-spacing: -0.03em;
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &,
    & a,
    & a:visited {
        color: oklch(from var(--black) calc(l + 0.35) c h);
    }

    @media (width >= 34.375rem) {
        flex-direction: row;
        align-items: center;
        padding: 0.85rem 1.6rem;
    }

    @media (width >= 60.625rem) {
        padding: 0.85rem 3.2rem;
    }

    & ul {
        transform: translateX(-1rem);

        display: flex;
        align-items: center;

        @media (width >= 34.375rem) {
            transform: translateX(1rem);

            gap: 1rem;
            justify-content: flex-end;
        }
    }

    & a {
        padding: 1rem;
        transition: color 0.2s linear;

        &:hover {
            color: var(--black);
        }

        &:focus-visible {
            outline-offset: -5px;
            outline: 3px solid var(--black);
        }
    }

    & svg {
        width: 2.5rem;
        height: 2.5rem;
        vertical-align: middle;
    }
}
