.footer {
    font-size: 1.4rem;
    padding: 2rem 1.6rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    &,
    & a {
        color: var(--secondary);
    }

    @media (width >= 34.375rem) {
        flex-direction: row;
        align-items: center;
    }

    & ul {
        transform: translateX(-1rem);

        display: flex;
        align-items: center;

        @media (width >= 34.375rem) {
            transform: translateX(1rem);

            gap: 1rem;
            justify-content: flex-end;
        }
    }

    & a {
        padding: 1rem;
        transition: color 0.2s linear;

        &:hover {
            color: var(--main);
        }

        &:visited {
            color: var(--secondary);
        }

        &:focus-visible {
            outline-offset: -5px;
            outline: 3px solid var(--white);
        }
    }

    & svg {
        width: 2.7rem;
        height: 2.7rem;
        vertical-align: middle;
    }
}
