.pageNotFound {
    padding: 3rem;
    height: 100dvh;
    margin: 0 auto;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    & h1 {
        text-wrap: balance;
        letter-spacing: -1px;

        display: flex;
        align-items: center;
        gap: 2rem;

        & span:first-child {
            color: var(--main);
        }

        & span:last-child {
            padding: 1rem 0 1rem 2rem;
            border-left: 1px solid var(--main);
        }
    }

    & button {
        align-self: flex-end;
    }
}
