.pageNotFound {
    padding: 3rem;
    height: 100dvh;
    margin: 0 auto;
    max-width: 60rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 7.5rem;

    & h1 {
        text-wrap: balance;
        letter-spacing: -0.05em;
        font-family: 'Inter', sans-serif;

        display: flex;
        align-items: center;
        gap: 2rem;

        & span:first-child {
            color: var(--main);
        }

        & span:last-child {
            padding: 1rem 0 1rem 2rem;
            border-left: 0.1rem solid var(--main);
        }
    }
}
