@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: rgb(7, 6, 5);
    --title: oklch(93.6% 0.032 17.717);
    --paragraph: oklch(70.4% 0.191 22.216);
    --tertiary: oklch(86.9% 0.005 56.366);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--paragraph);
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title);
}

li {
    list-style: none;
}

a {
    display: inline-block;
}
