@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: none;
}

:root {
    --black: oklch(12.9% 0.042 264.695);
    --white: oklch(98.4% 0.003 247.858);
    --main: oklch(50% 0.134 242.749);
    --red: oklch(from red calc(l + 0.3) c h);
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--black);
    background-color: var(--white);
    font-family: 'Bodoni Moda', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

li {
    list-style: none;
}

a,
button {
    font-family: 'Inter', sans-serif;
}

a {
    display: inline-block;
}

button {
    cursor: pointer;
}
