.formContainer {
    height: 100%;
    margin: 0 auto;
    max-width: 58rem;
    padding: 0 1.6rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    & hgroup {
        text-align: center;
        margin-bottom: 3rem;

        & h2 {
            line-height: 1.2;
            font-size: 3.2rem;
            color: var(--main);
            letter-spacing: -0.03em;
            text-transform: uppercase;

            @media (width >= 31.25rem) {
                font-size: 4.2rem;
            }
        }

        & p {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-family: 'Iter', sans-serif;
        }
    }

    & form {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        & footer {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            @media (width >= 29.375rem) {
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
            }
        }
    }
}
