.homepageBackground {
    z-index: -99999;
    position: fixed;
    inset: 0;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.4)
        ),
        url('/bg.png');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
}
