.homepageBackground {
    z-index: -999;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.4)
        ),
        url('/bg.png');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
