.article {
    height: 100%;
    padding: 2rem;
    margin: 0 auto;
    max-width: 720px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article hgroup p {
    font-size: 3rem;
    line-height: 1.1;
    padding-top: 1rem;
    color: var(--secondary);
}

.article hgroup p, section p {
    animation: slide-in-from-bottom .5s linear forwards;
}

.article hgroup h1 {
    font-size: 7rem;
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: -1px;

    display: flex;
    flex-direction: column;

    & span {
        animation: .5s linear forwards;
    }

    & span:first-child {
        transform: translateX(-200rem);
        animation-name: slide-in-from-left;
    }

    & span:last-child {
        transform: translateX(200rem);
        animation-name: slide-in-from-right;
    }
}

.article section p {
    font-size: 2rem;
    margin-top: 3rem;
    color: var(--secondary);
}

@keyframes slide-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-200rem);
    }
    50% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    75% {
        opacity: 75%;
        transform: translateX(-3rem);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes slide-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(200rem);
    }
    50% {
        opacity: 0;
        transform: translateX(10rem);
    }
    75% {
        opacity: 75%;
        transform: translateX(3rem);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes slide-in-from-bottom {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .article hgroup h1 {
        font-size: 10rem;
    }
}
